*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Calibri;
}
h2, p{
    color: white;
    /* font-size: 18px; */
}
p{
    
}
input, button{
    width: 150px;
    height: 30px;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    padding: 0 10px 0 10px;
}
button{
    text-align: center;
    color: #9c0507;
}
button:hover{
    color: #f94144;
    font-weight: 900;
}

.main{
    width: 90%;
    margin: auto;
    margin-top: 20px;
    padding: 20px;
}
.style{
    border: none;
    border-radius: 10px;
    padding: 20px;
    line-height: 30px;
    margin: 25px;

}
.max-number-bt-2{
    background-color: #f94144;
}
.max-number-bt-3{
    background-color: #f3722c;
}